@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: linear-gradient(320deg, rgba(255,255,255,1) 40%, rgba(120,186,196,1) 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

#ficha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #78bac4;
}

.title {
  margin: 2rem;
  font-size: 2rem;
}

.ficha-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 20px -2px #000000; 
  box-shadow: 0px 0px 20px -2px #000000;
  background: white;
  width: 45em;
}

h2 {
  margin-top: 2em;
  font-size: 1.5em;
}

#ficha label {
  margin: 1rem;
}

#ficha input {
  text-align: center;
}

.button {
  padding: .5rem;
  background-color: #78bac4;
  margin: 2rem;
  cursor: pointer;
  color: white;
}

#rank {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.item {
  width: 25em;
  border: 1px solid black;
  margin: .5em;
  padding: 1em;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -2px #000000; 
  box-shadow: 0px 0px 10px -2px #000000;
}

.form-control {
  width: 40%;
}

.form-control:focus {
  -webkit-box-shadow: 0px 0px 0px 3px #78bac4; 
  box-shadow: 0px 0px 0px 3px #78bac4;
}

.crown {
  width: 20%;
  margin-left: 1em;
}

.n1 {
  width: 100%;
  font-size: 1.2em;
  background-color: #f3e887;
}

.n2 {
  background-color: rgb(217, 222, 221);
}

.n3 {
  background-color: #cd7f32;
}